/*================ google fonts ==================*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.dark-gray{
    color: #131313;
}

.dark-gray2{
    color: #424242;
}
.light-gray{
    color: #727272;
}

.orange{
    color: #FF900E;
}

.section_title h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    padding-bottom: 24px;
}

.section_title p{
    font-size: 1rem;
    color: #727272;
    max-width: 542px;
    line-height: 26px;    
}

.btn{
    display: inline-block;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    background-color: #FF900E;
    cursor: pointer;
    border: none;
}

.img-fluid{
    width: 100%;
}


/* header area start */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 45px;
}


/* menu area start */
.menu{
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo h3{
    font-size: 2.8rem;
    font-weight: 700;
}
.navbar{
    gap: 3.12rem;
}
.navbar li a{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
}

/* banner area start */
.banner{
    padding-top: 50px;
}

.banner_content{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
}

.banner_content h1{
    font-size: 4rem;
    max-width: 862px;
    padding-bottom: 25px;
}

.banner_content p{
    padding-bottom: 30px;
    font-size: 1rem;
    line-height: 26px;
}

.banner_content .btn{
    margin-bottom: 50px;
}

.banner_img img{
    border-radius: 8px;
}


/* team area start */
.team_wrapper{
    margin-top: 85px;
}
.team_section_wrap{
    gap: 73px;
    align-items: center;
}

.team_images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-left: 60px;
}

.team_images img{
    border-radius: 8px;
}

#quick_list{
    font-weight: 500;
}

#features{
    color: #FF900E;
}

.teams_content h2{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
    max-width: 468px;
    padding-bottom: 24px;
}

.teams_content p {
    font-size: 1rem;
    line-height: 26px;
    max-width: 526px;
    padding-bottom: 32px;
}


/* facts area */
.fact_wrapper{
    margin-top: 130px;
}
.facts_row{
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: space-around;
}

.facts {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 10px 60px;
    text-align: center;
    margin-top: 100px;
}

.facts h3{
    font-size: 45px;
    font-weight: 600;
    padding: 10px 0 5px;
}

.facts p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

/* sponsor area */
.sponsor_wrapper{
    padding-top: 180px;
}
.sponsor_wrapper .section_title{
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.sponsor_images{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    padding-top: 50px;
}

.sponsor_images img{
    filter: grayscale(100%);
}

/* footer area */
footer{
    margin-bottom: 100px;
}
.footer_text{
    background-color: #FFF4E7;
    padding: 40px 0;
    text-align: center;
    margin-top: 160px;
}

.footer_text small{
    font-size: 1.25rem;
    color: #424242;
}


/* medium device */
@media screen and (min-width: 576.98px) and (max-width: 992px) {
    .container{
        max-width: 960px;
        width: 98%;
    }

    .logo h3{
        font-size: 2.2rem;
    }

    .navbar{
        gap: 2rem;
    }
    .navbar li a{
        font-size: 1rem;
    }

    /* team area */
    .team_section_wrap {
        gap: 30px;
        flex-direction: column;
    }
    .team_images {
        margin-left: 0;
    }

    .facts_row{
        grid-template-columns: repeat(2, 240px);
    }

    .fact_wrapper .section_title{
        text-align: center;
    }

    .section_title p{
        margin-left: auto;
        margin-right: auto;
    }

    .sponsor_images{
        grid-template-columns: repeat(3, auto);
        justify-content: start;
    }

}

/* small device */
@media screen and (max-width: 576px) {
    .container{
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
   .menu {
        flex-direction: column;
        gap: 20px;
    }

    .navbar{
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .banner {
        padding-top: 0px;
    }

    .banner_content h1 {
        font-size: 3rem;
    }

    /* team area */
    .team_section_wrap {
        gap: 30px;
        flex-direction: column;
    }
    .team_images {
        margin-left: 0;
        width: 100%;
    }

    .team_images img {
        width: 100%;
    }

    .team_images{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts_row{
        grid-template-columns: repeat(1, 100%);
        column-gap: 10px;
    }

    .facts{
        margin-top: 20px;
    }

    .sponsor_images{
        grid-template-columns: repeat(2, auto);
        justify-items: center;
        gap: 40px;
    }
}